<div class='col-xs-12'>
  <div class='col-xs-4'>
    <%= employee.first_name_last_initial %>
  </div>

  <div class='col-xs-3'>
    <%= link_to t('employees.activate'), activate_path(employee), method: :post,
                class: 'btn btn-success btn-xs' %>
  </div>

  <div class='col-xs-2'>
    <%= link_to t('employees.edit'), edit_employee_path(employee),
                class: 'btn btn-primary btn-xs' %>
  </div>
</div>
