<div>
  <%= employee.first_name_last_initial %>
</div>

<div>
  <%= link_to t('employees.deactivate'),
              deactivate_path(employee), method: :post,
              class: '' %>
</div>

<div>
  <%= link_to t('employees.edit'), edit_employee_path(employee),
              class: '' %>
</div>
