<h3><%= @employee.first_name_last_initial %></h3>
<h4>Available Times</h4>
<% @employee.available_times.each do |available_time| %>
  <li>
    <%= available_time.start_time.strftime('%I:%M %p') %>
    to <%= available_time.end_time.strftime('%I:%M %p') %>
  </li>
<% end %>
