<hr>
<small>Availability</small>
<ul class='list-unstyled'>
  <% select_employee_times(day, employee, @employee_times).each do |available_time| %>
    <li><small><%= available_time.start_time_end_time unless nil? %></small></li>
  <% end %>
</ul>

