<tr class='left aligned'>
  <td><strong>Managers</strong></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='right aligned'>
  <td class='left aligned'><%= @schedule.admin.first_name %></td>
  <td>
    <%= f.text_field :start_time unless @set_time.nil? %>
    <%= f.text_field :end_time unless @set_time.nil? %>
  </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
