<tr>
  <td><strong>Shift Leads</strong></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<% @shift_leads.each do |shift_lead| %>
  <% if @set_schedule.nil? %>
    <%= render partial: 'schedules/table/shift_lead',
               locals: { shift_lead: shift_lead } %>
  <% else %>
    <%= render partial: 'schedules/table/shift_lead',
               locals: { shift_lead: shift_lead, f: f } %>
  <% end %>
<% end %>
