<tr class='left aligned'>
  <td><strong>Shift Leads</strong></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<% @schedule.employees.employees_by_position('Shift Lead').each do |shift_lead| %>
  <%= render partial: 'schedules/table/shift_lead', locals: { shift_lead: shift_lead } %>
<% end %>
