<tr class='left aligned'>
  <td><strong>Team Members</strong></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<% @schedule.employees.employees_by_position('Team Member').each do |team_member| %>
  <% if @set_schedule.nil? %>
    <%= render partial: 'schedules/table/team_member',
               locals: { team_member: team_member } %>
  <% else %>
    <%= render partial: 'schedules/table/team_member',
               locals: { team_member: team_member, f: f } %>
  <% end %>
<% end %>
